.lyrics_container {
    margin-top: 15vh;
    margin-bottom: 3vh;

    .back_btn {
        width: 100%;
        text-align: center;
        background: #333;
        text-decoration: none;
        color: #fff;
        padding: 5px 8px;
        border-radius: 3px;
        z-index: 0;

        &:hover {
            background: #000;

            .fa-arrow-circle-left {
                color: #88a7ff;
            }
        }
    }

    .card {
        margin-top: 25px;
        border: 1px solid #ccc;
        border-radius: 3px;


        .card_head {
            background-color: #f3f3f3;
            padding: 13px 20px;
            border-bottom: 2px solid #ccc;

            .span_text {
                color: #7c7c7c;
            }
        }

        .card_body {
            background-color: #f3f3f3;
            padding: 20px;
        }
    }

    .list_container {
        margin-top: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 0;



        .list_items {
            background-color: #f3f3f3;
            border-bottom: 1px solid #ccc;
            list-style: none;
            padding: 13px 20px;
        }
    }
}