.search_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px;
    margin-right: 18vw;
    margin-left: 18vw;

    .para {
        padding: 8px;
    }

    .form_container {
        padding: 5px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 1px solid #ccc;
        background-color: #f0f0f0;
        border-radius: 4px;
        padding: 0;
        transition: background-color .3s ease-in-out;

        .form_control {
            width: 100%;
            border: none;
            padding: 12px;
            outline: none;
            background-color: #f0f0f0;
            transition: background-color .3s ease-in-out;

            &:focus {
                background-color: #fff;
            }


        }

        .Loader {
            margin-top: 3px;
            padding: 0 5px;
            background-color: #f0f0f0;
            transition: background-color .3s ease-in-out;
            margin-right: 3px;

        }

        .Loader-fff {
            background-color: #fff;
            transition: background-color .3s ease-in-out;
        }

        .search_btn {


            .s_btn {
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 4px;
                padding: 10px;
                background-color: #f0f0f0;
                border-radius: 50%;
                cursor: pointer;
                outline: none;


                .fa-search {
                    color: #707070;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }

        // <---- dropdown ---->

        .dropdown_container {
            position: relative;
            flex: 0 0 auto;
            flex-flow: column nowrap;
            align-items: stretch;

            .button_container {
                display: flex;
                align-items: center;
                position: relative;
                justify-content: space-between;
                padding: 10px 16px;
                width: 100%;
                border: 0;
                cursor: pointer;
                outline: none;
                border-radius: 4px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                transition: background-color 0.25s ease-in-out;

                &:focus {
                    box-shadow: 0 0 0 4px #75aafa66;
                }

                .button_wrapper {
                    display: flex;
                    align-items: center;
                    width: calc(100% - 24px);

                    .btn_text {
                        flex: 0 0 auto;
                        font-size: 16px; // ff
                        line-height: 24px;
                        font-weight: 400;
                        text-align: left;
                        white-space: nowrap;
                        color: #000;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        overflow-wrap: normal;
                    }

                    &:hover span {
                        color: #000;
                    }
                }

                .btn_arrow_icon {
                    align-items: center;
                    width: 24px;
                    height: 24px;
                    transition: transform 0.25s ease;
                }
            }

            ._btn_xx_active {
                background: #ffffff;
                //padding-left: 15px !important;
            }

            .btn_active {

                padding: 9px 15px !important;
                background-color: #fff !important;
                border: 1px solid #75aafa66;
                box-shadow: 0 0 0 4px #75aafa66;
            }

            // <---- popover items ---->

            .popover_wrapper {
                left: 0;
                position: absolute;
                z-index: 1;
                min-width: 100%;
                max-height: 245px;
                margin-top: 8px;
                overflow-y: auto;
                border-radius: 4px; // rrr
                box-shadow: 0 8px 13px 0 rgba(44, 44, 44, 0.3);
                display: block;

                .popover {
                    margin-top: -1px;
                    background-color: #fff;

                    .option {
                        position: relative;
                        padding: 13px 48px 13px 16px;
                        background: #fff;
                        font-size: 16px; // fff
                        font-weight: 400;
                        text-align: left;
                        color: #000;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        cursor: pointer;

                        &:hover {
                            background: #e4e4e4;
                        }
                    }

                    .active {
                        background: #aec9fc;
                        pointer-events: none;
                    }

                    .top {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .bottom {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }


                }
            }
        }

        .divider {
            padding-right: 1px;
            border-top: 10px solid #979797;
            border-bottom: 10px solid #979797;
            transition: border-bottom 0.25s ease-in-out, border-top 0.25s ease-in-out;
        }

        ._D_active {
            border-top: 10px solid #555;
            border-bottom: 10px solid #555;
        }

        .rotate {
            transform: rotate(-180deg);
        }



    }



    .active {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 0 4px #75aafa66;
    }

    @media only screen and (max-width: 1300px) {
        margin-right: 17vw;
        margin-left: 17vw;
    }

    @media only screen and (max-width: 1200px) {
        margin-right: 12vw;
        margin-left: 12vw;

    }

    @media only screen and (max-width: 1100px) {
        margin-right: 24vw;
        margin-left: 24vw;

    }

    @media only screen and (max-width: 900px) {
        margin-right: 14vw;
        margin-left: 14vw;
    }

    @media only screen and (max-width: 650px) {
        margin-right: 5vw;
        margin-left: 5vw;
    }
}