// #e1e4e8

$colors: (hover-color: #57585a,
  active-color: #1a1a1a,
  light-w: #f0f1f1,
  line-color:#acacac);


@function colors($color) {
  @return map-get($colors, $color);
}


.btn_wrapper {
  margin: 20px; // feel free to change this value
  display: flex;
  flex-flow: column nowrap;
  width: 120px;

  .btn {
    cursor: pointer;
    display: flex;
    background-color: inherit;
    color: #fff;
    border: 0;
    border-radius: 4px;
    outline: none;
    background-position: center;
    transition: background-color 0.8s;

    .text {
      margin-top: 3px;
      flex: 1;
      font-weight: 400;
      font-size: 12px;
      position: relative;
      display: flex;
      flex-flow: column nowrap;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.09);
      box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.24);
      box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
    }

    &:active {
      background: rgba(0, 0, 0, 0.15);
      color: rgb(228, 228, 228);
      box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
      transition: background-color 0s, border-color 0s;
    }

    .btn_arrow_icon {
      position: relative;
      flex: 0 0 auto;
      width: 20px;
      height: 20px;
      transition: transform 0.25s ease;
    }

    .rotate {
      transform: rotate(-180deg);
    }


  }

  .dropdown {
    margin-top: 38px;
    border-radius: 4px;
    position: fixed;
    background: rgb(65, 64, 64);
    width: 150px;
    box-shadow: 1px 1px 15px 0px #0000003d;
    transform: translateX(-25px);
    transition: all .25s ease-out;
    z-index: 5;
    font-size: 0.85rem;
    font-weight: 600;


    .op_top {
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid colors(line-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background: colors(hover-color);
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }

      &:active {
        background: #000;
      }
    }

    .op_mid {
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid colors(line-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background: colors(hover-color);
      }

      &:active {
        background: #000;
      }
    }

    .op_bottom {
      padding: 10px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background: colors(hover-color);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:active {
        background: #000;
      }
    }

    .active_top_radius {
      background: colors(active-color);
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      font-size: 0.80rem;
      font-weight: 700;
      color: #fff;
      pointer-events: none;
    }

    .active_no_radius {
      background: colors(active-color);
      font-size: 0.80rem;
      font-weight: 700;
      color: #fff;
      pointer-events: none;
    }

    .active_bottom_radius {
      background: colors(active-color);
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      font-size: 0.80rem;
      font-weight: 700;
      color: #fff;
      pointer-events: none;
    }
  }

  .btn_active {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
  }

}